.main-container {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}

/* HEADER */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar ul {
  display: flex;
  margin-top: 0;
  align-items: center;
  gap: 50px;
}

.navBar ul:hover li:not(:hover){
    color: unset !important;
    border-top: unset;
}

.navBar li {
  line-height: 40px;
}

.navBar li:nth-child(1), .navBar li:hover {
  color: var(--main-color);
  border-top: 3px solid var(--main-color);
}




.navBar img {
  width: 61.09px;
  height: 19px;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: 4%;
}

.header-title {
  line-height: 13px;
}

.search {
  display: flex;
  align-items: center;
}

.search i,
.search input {
  padding: 12px 15px;
  border: 1px solid var(--main-bg-color);
}

.search .position {
  color: black;
  background-color: var(--main-bg-color);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search .search-btn{
    display: none;
}

.search input {
  font-weight: 700;
}

.search input:focus {
  outline: none;
}

.search button {
  background-color: var(--main-color);
  color: white;
  font-weight: 500;
  padding: 12px 12px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid var(--main-color);
  cursor: pointer;
}

.filters {
  display: flex;
  gap: 10px;
  width: 100%;
}

.filters h3 {
  margin: unset;
  padding-left: 0 !important;
}

.filters .btn-container {
  display: flex;
  width: 100%;
  gap: 10px;
}

.filters button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: 1.5px solid var(--main-bg-color);
  border-radius: 30px;
  cursor: pointer;
}

.filters button:hover {
  background-color: #0065fc1d;
}

.filters h3,
.filters button {
  padding: 10px 12px;
}

p.info {
  display: flex;
  align-items: center;
  gap: 10px;
}

p.info i {
  border: 2px solid var(--main-bg-color);
  border-radius: 50%;
  padding: 4px 10px;
}

/* /HEADER */

/* POPULAIRE */

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hebergements-card .card {
  flex-direction: column;
}

.hebergements-card img {
  width: 250.33px;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-card .card-content {
  width: unset !important;
}

.hebergements .see-more {
  margin-top: 35px;
  margin-bottom: 0;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card,
.hebergements-card .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content,
.hebergements-card .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title,
.hebergements-card .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle,
.hebergements-card .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating,
.hebergements-card .card-rating {
  margin-bottom: 5px;
}

/* /POPULAIRE */

/* ACTIVITÉ */

.activites {
  margin-top: 35px;
  padding: 30px;
  margin-bottom: 35px;
}

.activites > h3 {
  padding-bottom: 35px;
}

.activites-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}

.activites-container .card {
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
}

.activites-container img {
  width: 279.5px;
  height: 380px;
}

.activites-container .card-txt {
  padding: 0 15px;
}
/* /ACTIVITÉ */

/* FOOTER */

footer {
  display: flex;
  background-color: #f2f2f2;
  padding: 0 30px;
  margin-top: 35px;
}

.about,
.hebergement,
.help {
  flex: 1;
}

.about p,
.hebergement p,
.help p {
  cursor: pointer;
}
/* /FOOTER */
