/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activites-container {
    flex-wrap: wrap;
  }

  .activites-container .card {
    max-width: 193.5px;
    height: 270px;
  }

  .activites-container img {
    width: 193.5px;
    height: 200px;
  }

  .activites .card-txt h3 {
    font-size: 14px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    max-width: unset;
  }

  .main-container {
    padding: 0;
  }

  .navBar {
    margin-top: 25px;
    flex-direction: column;
    justify-content: unset;
    gap: 35px;
  }

  .navBar ul {
    padding: 0;
    width: 100%;
    gap: 0;
  }

  .navBar li {
    text-align: center;
  }

  .navBar li:nth-child(1), .navBar li:nth-child(2) {
    flex: 1;
    border-top: unset !important;
  }

  .navBar li:nth-child(1), .navBar ul:hover li:hover {
    border-bottom: 3px solid var(--main-color);
  }

  .navBar ul:hover li:not(:hover), .navBar li:nth-child(2)  {
    border-bottom: 3px solid #f2f2f2;
  }

  

 
  .header-text-container {
    width: 80%;
    margin: auto;
  }

  .header-text-container h1 {
    line-height: normal;
  }

  .search {
    margin: auto;
    width: 100%;
  }

  .search input {
    width: 100%;
  }

  .search input,
  .search .position,
  .search .search-btn {
    padding: 15px;
  }

  .search button {
    display: none;
  }

  .search .search-btn {
    display: inline;
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    position: relative;
    right: 10px;
    box-shadow: 0px 15px 26px -6px rgba(17, 17, 17, 0.379);
    cursor: pointer;
  }

  .filters {
    flex-direction: column;
  }

  .filters .btn-container {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .hebergements {
    background-color: unset !important;
    width: 100%;
  }

  .hebergements-card {
    flex-direction: column;
  }

  .hebergements-card img {
    width: 100%;
    object-position: 0 60%;
  }

  .populaires {
    border-radius: 0 !important;
  }

  .populaires .populaires-cards {
    flex-direction: column;
  }

  .populaires .populaires-cards a {
    width: unset;
  }

  .activites-container {
    flex-direction: column;
  }

  .activites-container a{
    border-radius: 20px;
  }

  .activites-container .card {
    max-width: unset !important;
    overflow: hidden;
  }

  .activites-container img {
    width: 100%;
  }

  footer {
    flex-direction: column;
    align-items: start;
  }

  .about,
  .hebergement,
  .help {
    flex: unset;
  }
}
