/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


li{
    list-style: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}